*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
}

@media only screen and (min-width: 425px) and (max-width: 768px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header header"
        "nav1 nav1"
        "article article"
        "footer footer";
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 10px;
    }
    
    /* .border{
        border: 1px solid black;
    } */
    
    header{
        grid-area: header;
    }
    
    nav{
        grid-area: nav1;
    }
    
    article{
        grid-area: article;
    }
    
    footer{
        grid-area: footer;
    }
    
    .logo{
        width: 90%;
        margin: 5%;
        /* padding: 20px; */

    }
    
    nav{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        padding: 10px;
        /* word-spacing: 20px; */
    }
    
    /* nav ul li :hover{
        opacity: 50%;
    } */
    
    nav ul li{
        display: inline-block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
    }
    
    nav ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }
    
    #contenido{
        position: relative;
        width: 100%;
    }
    
    #imagenprincipal{
        display: block;
        width: 100%;
        /* opacity: 70%; */
        border-radius: 5px;
    }
    
    
    #descripcion{
        padding: 15px;
        z-index: 1;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        color: black;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
    
    footer{
        margin: 30px;
        height: 100px;
        background-color: white;
        padding: 25px;
        border-radius: 10px;
    }
    
    #footer1{
        display: grid;
        grid-template-areas: 
        "contenido links";
    }
    
    #footerc{
        grid-area: contenido;
    }
    
    #footerlinks{
        grid-area: links;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header header"
        "nav1 nav1"
        "article article"
        "footer footer";
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 10px;
    }
    
    /* .border{
        border: 1px solid black;
    } */
    
    header{
        grid-area: header;
    }
    
    nav{
        grid-area: nav1;
    }
    
    article{
        grid-area: article;
    }
    
    footer{
        grid-area: footer;
    }
    
    .logo{
        width: 90%;
        /* padding: 20px; */
    }
    
    nav{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        padding: 10px;
        word-spacing: 10px;
    }
    
    /* nav ul li :hover{
        opacity: 50%;
    } */
    
    nav ul li{
        display: inline-block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
    }
    
    nav ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }
    
    #contenido{
        position: relative;
        width: 100%;
    }
    
    #imagenprincipal{
        display: block;
        width: 100%;
        opacity: 70%;
        border-radius: 5px;
    }
    
    
    #descripcion{
        z-index: 1;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
        width: 50%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    footer{
        margin: 30px;
        height: 100px;
        background-color: white;
        padding: 25px;
        border-radius: 10px;
    }
    
    #footer1{
        display: grid;
        grid-template-areas: 
        "contenido links";
    }
    
    #footerc{
        grid-area: contenido;
    }
    
    #footerlinks{
        grid-area: links;
    }
}

@media only screen and (min-width: 1024px){

    #grilla{
        display: grid;
        grid-template-areas: 
        "header nav1"
        "article article"
        "footer footer";
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 10px;
    }
    
    /* .border{
        border: 1px solid black;
    } */
    
    header{
        grid-area: header;
    }
    
    nav{
        grid-area: nav1;
    }
    
    article{
        grid-area: article;
    }
    
    footer{
        grid-area: footer;
    }
    
    .logo{
        width: 50%;
        padding: 20px;
    }
    
    nav{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        padding: 40px;
        word-spacing: 20px;
    }
    
    .menuLista :hover{
        opacity: 50%;
        transform: scale(1.2);
        transition: 0.7s;
    }
    
    nav ul li{
        display: inline-block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    nav ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }
    
    #contenido{
        position: relative;
        width: 100%;
    }
    
    #imagenprincipal{
        display: block;
        width: 100%;
        opacity: 70%;
        border-radius: 5px;
    }
    
    
    #descripcion{
        z-index: 1;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
        width: 50%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    footer{
        margin: 30px;
        height: 100px;
        background-color: white;
        padding: 25px;
        border-radius: 10px;
    }
    
    #footer1{
        display: grid;
        grid-template-areas: 
        "contenido links";
    }
    
    #footerc{
        grid-area: contenido;
    }
    
    #footerlinks{
        grid-area: links;
    }
}

/* estilos de contacto */

.formulario{
    width: 200px;
    height: 200px;
}

footer{
    margin: 30px;
    height: 100px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

#footer1{
    display: grid;
    grid-template-areas: 
    "contenido links";
}

#footerc{
    grid-area: contenido;
}

#footerlinks{
    grid-area: links;
}